.stiker-header-card{
    position: absolute;
    z-index: 0;
    top: -15px;
    right: 125px;
}
@media screen and (max-width: 640px){
    .stiker-footer-card{
        top: 80px;
        left: 140px;
    }
}