.stiker-header-card{
    position: absolute;
    z-index: 0;
    top: -15px;
    right: 125px;
}
@media screen and (max-width: 320px){
    .stiker-footer-card{
        top: 70px;
        right: 70px;
    }
}