.stiker-header-card{
    position: absolute;
    z-index: 0;
    top: -5px;
    right: 100px;
}
.stiker-footer-card{
    position: absolute;
    z-index: 0;
    top: -35px;
    right: 160px;
}
@media screen and (max-width: 320px){
    .stiker-footer-card{
        top: 120px;
        right: 110px;
    }
}