.stiker-header-card{
    position: absolute;
    z-index: 0;
    top: -5px;
    right: 100px;
}
@media screen and (max-width: 320px){
    .stiker-footer-card{
        top: 150px;
        left: 300px;
    }
}